form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.select.btn {
  height: 64px;
  width: 100px;
  text-align: center;
}

.button.btn {
  height: 64px;
  width: 120px;
}

.js-list-api {
  width: 900px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

li {
  outline: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
